@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



@theme {
    --color-primary: #FBF9F6;
    --color-secondary: #1D1D1D;
    --color-accent: #82C3DA;

    --font-poppins: 'Poppins', sans-serif;
}

.hover {
    @apply hover:text-accent transition ease-linear duration-400;
}

.section-title {
    @apply flex  justify-center text-[25px] text-accent  md:text-[35px] mt-4;
}

.section-border {
    @apply border border-primary border-3 rounded-[100px] md:rounded-[113px] mx-10 md:mx-25;
}

.active-tab {
    @apply text-accent border-r-3 border-accent;
}
.inactive-tab {
    @apply text-primary  border-primary;
}

